/* Basic styles for all devices */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

header {
    background-color: #9E2D9A;
    color: white;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 40px; /* Adjust height as needed */
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Add a subtle hover effect */
}

.highlighted-text {
    text-align: center;
    background-color: #FFD700; /* Yellow highlight color */
    padding: 1em;
}

main {
    padding: 1em;
}

button {
    background-color: #9E2D9A;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}

/* Responsive styles */
@media (max-width: 600px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    .logo img {
        margin-bottom: 10px;
    }

    nav {
        margin-top: 20px;
    }

    nav a {
        display: inline-block;
        margin-right: 20px;
    }
}