/* Basic styles for all devices */
html, body {
    height: 100%; /* Ensure full height */
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    background-color: #f0f0f0;
    color: #333;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

body {
    display: flex;
    flex-direction: column;
    background-image: url('resources/desktop.jpg'); /* Default background image */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh; /* Ensure body takes at least full viewport height */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

header {
    background-color: rgba(255, 215, 0, 0.8);
    color: black;
    padding: 0.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.logo img {
    height: auto;
    width: 100%;
    padding-left: 0.8em;
    max-height: 6.25em;
    max-width: 6.25em;
    object-fit: contain;
}

nav a {
    color: black;
    text-decoration: none;
    padding: 0.625em 1.25em;
    font-size: 1.2em;
    font-weight: 600;
}

nav a:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Optional: Add a subtle background color on hover */
}

.resume-button {
    background-color: transparent;
    color: black;
    border: none;
    padding: 0.625em 1.25em;
    cursor: pointer;
    border-radius: 0.625em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-decoration: none;
}

.resume-button.flash {
    animation: flash-yellow 1s 3;
}

@keyframes flash-yellow {
    0%, 100% { background-color: transparent; }
    50% { background-color: #FFD700; }
}

.highlighted-text {
    text-align: center;
    background-color: #FFFFFF; /* Yellow highlight color */
    padding: 1em;
}

main {
    padding: 1em;
    flex: 1; /* Allow main content to grow and take available space */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

button {
    background-color: #FFBF00;
    color: black;
    border: none;
    padding: 0.625em 1.25em;
    cursor: pointer;
    border-radius: 0.625em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

button:hover {
    background-color: #FFD700;
}

footer {
    background-color: rgba(51, 51, 51, 0.7);
    color: white;
    text-align: center;
    padding: 0.1em 0;
    width: 100%;
    margin-top: auto; /* Push footer to the bottom */
    flex-shrink: 0; /* Prevent footer from shrinking */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
    position: relative;
    bottom: 0;
}

footer a {
    color: white;
    text-decoration: none;
    margin: 0 0.625em;
}

footer a:hover {
    text-decoration: underline;
}

.project-container {
    padding: 1.25em;
    text-align: center; /* Center items horizontally */
    border-radius: 0.625em;
}

.project-item {
    width: 50vw;
    margin: 0 auto 1.25em; /* Center items horizontally and add bottom margin */
    display: flex; /* Change to flex */
    flex-direction: column; /* Stack children vertically */
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1em;
    border-radius: 0.625em;
}

.project-title {
    align-self: center; /* Center the title */
}

.project-setup {
    display: flex; /* Use flex for setup */
    justify-content: center; /* Center the setup items horizontally */
    align-items: center; /* Center the setup items vertically */
    gap: 2em; /* Add gap between demo and description */
}

.project-description,
.project-demo {
    width: 45%; /* Adjust width as needed */
    text-align: left;
}

.project-demo img {
    width: 100%; /* Adjust width as needed */
    height: auto;
    display: block; /* Ensure proper block display */
    margin-bottom: 1.25em;
}

.project-button {
    text-align: center; /* Center the button */
    margin-top: 1em; /* Add space above the button */
}



/* Responsive styles */
@media (max-width: 1024px) {
    body {
        background-image: url('resources/tablet.jpg'); /* Background image for tablets */
    }
}

@media (max-width: 600px) {
    body {
        background-image: url('resources/phone.jpg'); /* Background image for phones */
    }

    header {
        flex-direction: column;
        align-items: center;
    }

    .logo img {
        margin-bottom: 0.625em; /* Converted from 10px */
    }

    nav {
        margin-top: 1.25em; /* Converted from 20px */
    }

    nav a {
        display: inline-block;
        margin-right: 1.25em; /* Converted from 20px */
    }
}