/* Basic styles for all devices */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    background-color: #f0f0f0;
    color: #333;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    background-image: url('resources/desktop.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    box-sizing: border-box;
}

header {
    background-color: rgba(255, 215, 0, 0.8);
    color: black;
    padding: 0.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.logo img {
    height: auto;
    width: 100%;
    padding-left: 0.8em;
    max-height: 6.25em;
    max-width: 6.25em;
    object-fit: contain;
}

nav {
    display: flex;
    flex-grow: 0.5;
}

nav a {
    color: black;
    text-decoration: none;
    padding: 0.625em 1.25em;
    font-size: 1.2em;
    font-weight: 600;
    flex-grow: 1;
    text-align: center;
}

nav a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.contact-button, .about-button, .home-button {
    background-color: transparent;
    cursor: pointer;
    border-radius: 0.625em;
}

.resume-button {
    background-color: transparent;
    color: black;
    border: none;
    padding: 0.625em 1.25em;
    cursor: pointer;
    border-radius: 0.625em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-decoration: none;
}

.resume-button.flash {
    animation: flash-yellow 1s 3;
}

@keyframes flash-yellow {
    0%, 100% { background-color: transparent; }
    50% { background-color: #FFD700; }
}

main {
    padding: 1em;
    flex: 1;
    box-sizing: border-box;
}

.highlighted-text {
    background-color: rgba(218, 112, 214, 00);
    color: black;
    padding-right: 9em;
    padding: 1em;
    display: flex;
    width: 50vw;
    border-radius: 4em;
    align-self: center;
    justify-self: center;
    position: relative;
    margin: 0 auto;
    font-weight: 500;
    font-style: italic;
    font-size: 1.2em;
}

/* Speech bubble styling */
.speech-bubble {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 2;
    top: -10px;
    left: 120%;
}

.speech-bubble::after {
    content: '';
    position: absolute;
    top: 50%;
    left: -10px;
    transform: translateY(-50%);
    border-width: 10px;
    border-style: solid;
    border-color: transparent white transparent transparent;
}

.highlight:hover .speech-bubble {
    display: block;
}

.no-link-style {
    text-decoration: none;
    color: inherit;
}

.aligned-icon {
    width: 1em;
    height: 1em;
    vertical-align: middle;
}

.github-icon {
    width: 1.3em;
    height: auto;
    vertical-align: middle;
    margin-bottom: 0.2em;
    margin-right: 0.2em;
}

.linkedin-icon {
    width: 1.2em;
    height: auto;
    vertical-align: middle;
    margin-right: 0.2em;
    margin-bottom: 0.1em;
}

.gmail-icon {
    width: 1em;
    height: auto;
    vertical-align: middle;
    margin-right: 0.2em;
    margin-bottom: 0.1em;
}

.left-content {
    flex: 0 0 auto;
    width: auto;
    padding-right: 2em;
    margin-right: 1em;
}

.profile-picture {
    position: relative;
    margin: 0 auto;
}

.profile-picture img {
    width: 14vw;
    height: auto;
    border-radius: 50%;
    border: 0.2em outset #6900a3;
}

.right-content {
    flex: 1;
    text-align: left;
    padding-left: 3em;
    margin-top: -1em;
    margin-bottom: -1em;
}

.highlight {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 2em;
}

button {
    background-color: #FFBF00;
    color: black;
    border: none;
    padding: 0.625em 1.25em;
    cursor: pointer;
    border-radius: 0.625em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

button:hover {
    background-color: #FFD700;
}

footer {
    background-color: rgba(51, 51, 51, 0.7);
    color: white;
    text-align: center;
    font-size: 1em;
    padding: 0.1em 0;
    width: 100%;
    margin-top: auto;
    flex-shrink: 0;
    box-sizing: border-box;
    position: relative;
    bottom: 0;
}

footer a {
    color: white;
    text-decoration: none;
    margin: 0 0.625em;
}

footer a:hover {
    text-decoration: underline;
}

.project-container {
    padding: 1.25em;
    text-align: center;
    border-radius: 0.625em;
}

.project-item {
    width: 50vw;
    margin: 0 auto 1.25em;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1em;
    border-radius: 0.625em;
}

.project-title {
    align-self: center;
}

.project-title h2 {
    font-size: 1.5em;
}

.project-setup {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}
.project-description{
    font-size: 1em;
}

.project-description,
.project-demo {
    width: 45%;
    text-align: left;
}

.project-demo img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 1.25em;
}

.project-button {
    text-align: center;
    margin-top: 1em;
}


/* Responsive styles */
@media (max-width: 1024px) {
    body {
        background-image: url('resources/tablet.jpg');
    }

    header {
        flex-direction: row;
        justify-content: space-between;
        padding: 0.5em 2em;
    }

    .logo img {
        width: 75%;
        max-width: 75%;
        padding-left: 0.6em;
        max-height: auto;
    }

    .left-content {
        padding-right: 1em;
        margin-right: 0.5em;
    }

    nav {
        display: flex;
        justify-content: space-around;
        flex-grow: 1;
    }

    nav a {
        color: black;
        text-decoration: none;
        padding: 0.625em 1.25em;
        font-size: 1em;
        font-weight: 600;
        flex-grow: 1;
        text-align: center;
    }

    nav a:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }

    .resume-button {
        padding: 0.625em 1.25em;
        font-size: 1em;
    }

    .highlighted-text {
        flex-direction: row;
        width: auto;
        padding: 1em;
        align-items: center;
        font-size: 1em;
    }

    .highlight {
        font-size: 1.5em;
    }

    .project-title h2 {
        font-size: 1.1em;
    }

    .project-description{
        font-size: 0.8em;
    }

    .left-content {
        padding-right: 0;
        margin-right: 0;
    }

    .profile-picture img {
        width: 30vw;
        height: auto;
        border-radius: 50%;
        border: 0.2em outset #6900a3;
        margin-bottom: 2em;
    }

    .right-content {
        padding-left: 0;
        text-align: center;
        margin-top: 0;
        margin-bottom: 0;
    }

    .highlight {
        font-size: 1.5em;
    }

    footer {
        font-size: 0.8em;
    }
}


@media (max-width: 600px) {
    body {
        background-image: url('resources/phone.jpg');
    }

    header {
        flex-direction: row;
        justify-content: space-between;
        padding: 0.5em 1em;
    }

    .logo img {
        width: 50%;
        max-width: 50%;
        padding-left: 0.4em;
        max-height: auto;
    }

    .left-content {
        padding-right: 0.5em;
        margin-right: 0.25em;
    }

    nav a {
        font-size: 0.7em;
        padding: 0;
    }

    .resume-button {
        padding: 0;
        font-size: 0.7em;
    }

    .highlighted-text {
        flex-direction: column;
        width: auto;
        padding: 1em;
        align-items: center;
        font-size: 0.7em;
    }

    .highlight {
        font-size: 1em;
    }

    .project-title h2 {
        font-size: 0.9em;
    }

    .project-description{
        font-size: 0.65em;
    }

    .left-content {
        padding-right: 0;
        margin-right: 0;
    }

    .project-setup {
        flex-direction: column;
        gap: 1em;
    }

    .project-description,
    .project-demo {
        width: 100%;
    }

    .project-demo img {
        margin-bottom: 1em;
    }

    .profile-picture img {
        width: 20vw;
        height: auto;
        border-radius: 50%;
        border: 0.2em outset #6900a3;
        margin-bottom: 1em;
    }

    .right-content {
        padding-left: 0;
        text-align: center;
        margin-top: 0;
        margin-bottom: 0;
    }

    .highlight {
        font-size: 1.5em;
    }

    footer {
        font-size: 0.65em;
    }
}